# /
*.bak
*.d
*.o
*.exe
*.orig
*.pdb
*.rej
*.sav
*.swp
*.tmp
*~
.DS_Store
.ccmalloc
.svn
/.git
a.out
cscope.out
gmon.out
GPATH
GRTAGS
GTAGS
TAGS
tags
/src/y.tab.c
/src/lex.yy.c
/src/y.tab.h
/src/lex.yy.h
/src/parse.tab.c
/src/y.output
/bin
/build
/vagrant/.vagrant
