name: ci
'on':
  - push
jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        compiler:
        - gcc
        - clang
    steps:
    - name: Install dependencies
      run: 'sudo apt install -q ${{ matrix.compiler }} libgc-dev'
    - name: Checkout
      uses: actions/checkout@v1
    - name: Build and test
      run: 'make test CC=${{ matrix.compiler }}'
